---
layout: semantic
---
<div class="ui text container">
    <div class="ui piled segment">
        <h4 class="ui header">Tentang BDP Playground</h4>
        <p> Tempat bermain dan belajar</p>
    </div>
</div>


<script type="application/javascript">
</script>
