<div class="bdp-footer">
<div class="ui text container">
    <h4 class="ui horizontal divider header">
                BDP-PLAYGROUND
    </h4>
    <div class="ui center aligned container">
        <a href="http://bimadata.com">bima.data.pratama</a>
    </div>
</div>
</div>
