<div class="ui text container">
        <h2 class="ui center aligned header">
                <img src="{{ "/img/bdp-logo.png" | prepend: site.baseurl }}" class="ui mini image">
        <div class="sub header">
            Playground
        </h2>
        <div class="ui divider"></div>
</div>
