<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/semantic/dist/semantic.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/d3/d3.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/underscore/underscore-min.js" | prepend: site.baseurl }}"></script>
{% if page.js_file %}
<script src="{{  page.js_file }}"></script>
{% endif %}

