<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="bdp-content">
        {{ content }}
    </div>

    {% include footer.html %}
    {% include scripts.html %}
  </body>

</html>

