---
title: South Bluefin Tune Catch
layout: semantic
js_file: script.js
---
<div class="ui text container">
    <div class="ui piled segment">
        <h4 class="ui header">South Bluefin Tuna Catch</h4>
        <p>
        Setiap ellipse (lingkaran oval) adalah 1 South Bluefin Tuna (SBT)
        yang ditangkap selama kurun waktu tahun 2015. Data ini terdiri dari
        ~5500 data SBT. Data bersumber dari aplikasi Catch Document Scheme Online
        yang dikelola oleh Subdit ZEEI 
        Dinas Pengelolaan Sumber Daya Ikan Kementerian Kelautan Perikanan RI. 
        </p>
        <p>
        Axis Y merupakan berat SBT (bukan whole weight), Axis X merupakan bulan tangkapan.
        Panjang ellipse merepresentasikan panjang SBT.
        </p>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui  container">
    <div  class="ui raised segment">
            <div id="scatterplot">
            </div>
    </div>
</div>

<style>
body {
          font: 10px sans-serif;
}

.axis path,
.axis line {
          fill: none;
                    stroke: #000;
                              shape-rendering: crispEdges;
}

.dot {
          stroke: #000;
}
</style>
